.app-container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  align-items: center;
  background-color: #93c5fd;
  background-image: radial-gradient(white 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: 10px 10px;
  padding-top: 10px;
}
.app-title{
  background: white;
  border-radius: 0.5rem;
  width: 90%;
  text-align: center;
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 2.25rem;
  font-weight: bold;
}
.app-inner{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 2.5rem;
  margin: 20px 0;
}
.random-container{
  width: 50%;
  background: #22c55e;
  border-radius: 0.5rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  padding: 15px 0 10px 0;
}
.random-title{
  font-size: 1.5rem;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
}
.tag-container{
  width: 50%;
  background: #3b82f6;
  border-radius: 0.5rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  padding: 15px 0 10px 0;
}
.tag-title{
  font-size: 1.5rem;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
}
.tag-input,
.btn-generate{
  width: 83%;
  font-size: 1.125rem;
  padding: 10px 12px;
  border-radius: 0.5rem;
  box-sizing: border-box;
}
.tag-input{
  margin-bottom: 3px;
  text-align: center;
  border: 1px solid #ccc;
}
.btn-generate{
  background: #facc15;
  margin-bottom: 20px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  transition: background 0.3s;
}
.btn-generate:hover{
  background: #eab308;
}
.spinner{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side,#474bff 94%,#0000) top/9px 9px no-repeat,conic-gradient(#0000 30%,#474bff);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
  animation: spinner-c7wet2 1s infinite linear;
}
@keyframes spinner-c7wet2{
  100%{
    transform: rotate(1turn);
  }
}
.gif-image{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;   
  border-radius: 0.5rem; 
}
@media (max-width: 768px){
  .random-container,
  .tag-container{
    width: 90%;
  }
  .app-title{
    font-size: 1.5rem;
    padding: 8px 1px
  }
  .btn-generate,
  .tag-input{
    width: 90%;
  }
  .gif-image{
    width: 90%;
  }
}